body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 45px;
}
section{
    margin-bottom: 120px;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.display-section{
    display: flex;
    padding: 0 50px;
}
.half-width{
    width: 40%;
}
.padding-left{
    padding-left: 8%;
}
.clr-orange{
    color: orange;
}
.half-width img{
  width: 100%;
}
.link-button {
    text-decoration: none;
    background: orange;
    padding: 10px 45px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}
.dream-big{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-box {
    padding: 20px 30px 55px 45px;
    box-shadow: 3px 4px 45px #888;
}
#full-web-dev{
    border-left: 9px solid;
    border-image: linear-gradient(#ffa37f, #ff4b2b);
    border-image-slice: 1;
}
#baby-web-dev{
    border-left: 9px solid;
    border-image: linear-gradient(#0000e6, #02b1b1);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}